/*  Call To Action Section
-------------------------------- */

#call-to-action {
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/images-6.jpg) fixed center center;
  
  background-size: cover;
/* background-color: rgb(141, 141, 218); */
  padding: 60px 0;
}

#call-to-action h3 {
  color: rgb(8, 8, 8);
  font-size: 28px;
  font-weight: 700;
}

#call-to-action p {
  color: rgb(0, 0, 0);
  font-weight: 800;
}

#call-to-action .cta-btn {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

#call-to-action .cta-btn:hover {
  background: #18d26e;
  border: 2px solid #18d26e;
}

/*  Call To Action Section
  -------------------------------- */

